body {
  height: 100%;
      background-color: #869EA3;
      background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
      background-size: 400px 400px;
}

.container {
  margin-top:100px;
}

.inputbar {
  width:100%;
  height:40px;
  background-color:#999;
  text-align:center;
  font-variant:small-caps;
  line-height:40px;
  color:#fff;
  font-size:20px;
  border-radius:5px;
  margin-top:10px;
  cursor:pointer;
}

.inputgroup:first-child .inputbar {
  margin:0;
}

.inputcontent {
  display:none;
  padding-top:10px;
}

#subclassgroup {
  display:none;
}

.toolboxbg {
  position:absolute;
  top:0;
  right:0;
  left:0;
  bottom:0;
  margin:auto;
  box-sizing: border-box;
  width:500px;
  height:500px;
  padding:20px;
  background-color:#333;
}

.toolboxbg [type="search"] {
  width:100%;
  height:35px;
  border:1px solid #999;
  border-radius:5px;
  box-sizing: border-box;
  padding:0 10px;
}

#MyResult, #MyModelResult {
  max-height:300px;
  overflow-y:auto;
  margin-top:50px;
  background-color:#333;
  box-sizing:border-box;
  padding:10px;
  border-radius:3px;
}

#searchResult, #searchResultModel {
  width:100%;
  color:#fff;
}

#searchform {
  padding-top:40px;
}

.closetool {
  width:30px;
  height:30px;
  background-color:red;
  float:right;
  margin-right:4px;
  margin-top:4px;
  cursor:pointer;
}
